#title {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  height: 750px;
}
#features {
  background-color: #262424;
  height: 400px;
}
.h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #00f208;
  font-weight: bolder;
}
h3 {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5rem;
  margin-right: 90px;
  width: 110%;
  color: #00f208;
}

p {
  color: #00f208;
}
.container-fluid {
  padding: 30px 30px 30px 30px;
}

.windows {
  height: 25px;
  padding-right: 7px;
}

.playstore-logo {
  height: 25px;
  padding-right: 7px;
}

.navbar {
  padding-bottom: 90px;
}

.fab {
  color: #00f208;
}

.fas {

}

.nav-item {
  padding: 0rem 1.5rem;
}

.jl-logo {
  margin-left: 150px;
}

.spacing-in-button {
  margin: 10px 5px ;
}

.section-two {
 padding-left: 70px;
}

.new {
  padding: 100px 120px 50px 150px;
}

.fas {
  padding-left: 70px;
  padding-bottom: 20px;
  color: #00f208;
  font-size: 50px;
}

.fas:hover {
  color: #ff4c68;
}

#testimonials {
 color: #00f208;
 background-color: black;
 text-align: center;
 padding: 50px 20px;

}

.testimonials-image {
  border-radius: 100%;
  width: 10%;
}

.doggy {
  width: 70%;
  margin-left: 230px;
}

#press {
  background-color: black;
  text-align: center;
}

.four-images {
  width: 15%;
}

#carouselExampleControls {
  padding: 7% 15%;
}

.row {
  text-align: center;
  padding-top: 120px;
  padding-right: 20px;
}
